<div class="authors" aria-label="Authors">
  {% for author in site.authors %}<span><a href="{{ author.url }}" rel="author">{{ author.name }}</a>{% if author.equal_contribution %}<sup aria-label="equal contribution">*</sup>{% endif %}</span>{% endfor %}
</div>
<div class="author-contacts" aria-label="Author email addresses">
  {% for author in site.authors if author.email %}<a href="mailto:{{ author.email }}" aria-label="Email {{ author.name }}">{{ author.email }}</a>{% endfor %}
</div>
<p class="author-note">* Equal contribution</p>
